.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
    width: 55px;
}

.nav-list {
    list-style-type: none;
    display: flex;
   
}

.nav-item{
    margin-right: 20px;
    font-size: 1.1rem;
}