header{
   background: #F55A5A;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}

.container{
    margin: 45px 40px;
    max-width: 600px;
}

.journal-entry {
    display: flex;
    margin-bottom: 30px;
    
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

article.journal-entry .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-icon {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-right: 10px;
}

.maps-link {
    font-size: 0.75rem;
   color: #2B283A;
}

.maps-link:visited {
     color: #918E9B;
}

.entry-title{
    margin-top: 7px;
    margin-bottom: 17px
}

.entry-dates{
    font-weight: bold;
}

.entry-description{
    line-height: 1.5;
    font-size: 0.8rem;
     display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
