*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    font-size: 0.875rem;
    padding: 1.5em;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    margin-block: 3em 2em;
}

header > h1{
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

header > p{
    color: #8E8E8E;
    max-width: 40ch;
    margin-bottom: 0.5em;

}

.game-status{
    background-color: #10A95B;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1em;
   
    border-radius: 8px;
    margin-bottom: 2em;
   
    
}

.game-status > h2{
    font-size: 1.25rem;
   
}

.game-status > p{
    color: #D9D9D9;
    font-size: 1rem;
}

.language-chip{
    max-width: 350px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.chip{
    padding: 0.5em;
    border-radius: 3px;
    font-weight: 600;
}

