*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    font-size: 0.875rem;
    min-height: 100vh;
    
}

.assembly-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8em 2em;
}

header{
    text-align: center;
    margin-block:1em;
}

header > h1{
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

header > p{
    color: #8E8E8E;
    max-width: 40ch;
    margin-bottom: 0.5em;

}

.game-status{
    background-color: #10A95B;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 7em;
   
    border-radius: 8px;
    margin-bottom: 2em;
   
    
}

.game-status > h2{
    font-size: 1.25rem;
   
}

.game-status > p{
    color: #D9D9D9;
    font-size: 1rem;
}

.language-chip{
    max-width: 350px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.3em;
}

.chip{
    padding: 0.5em;
    border-radius: 3px;
    font-weight: 600;
}

.word-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
 
    gap: 0.5em;
    align-items: center;
}

.letter-box{
    width: 2.5em;
    height: 2.5em;
    background-color: #323232;
    border-bottom: 2px solid #D9D9D9;
    padding-top:0.5em; 
   
    text-align: center;
    
    font-size: 1.125rem;
    font-weight: 700;
}

.keyboard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    max-width: 500px;
    margin-top: 2em;
}

.key-button{
    width: 2.5em;
    height: 2.5em;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    color: #1E1E1E;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.new-game{
    margin-top: 2.5em;
    padding: 0.75em 2.5em;
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    color: #1E1E1E;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.correct { background: green; }
.wrong { background: red; }
