*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
  background-color: #0B2434;
  color: #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div#root{
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 700px;
}

main{
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  margin-top: 3rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 10px;
}


.die-face{
  font-family: 'Karla', sans-serif;
  background-color: white;
  color: #000;
  border:0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  font-weight: bold;
  height: 60px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.held{
  background-color: #59E391;
}

.roll-dice{
  font-family: 'Karla', sans-serif;
  background-color: #5035FF;
  border: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}